version: "3.9"

services:
  postgres-order:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: order_db
    ports:
      - "5435:5432"

  nats:
    image: nats:2.10
    ports:
      - "4222:4222"

  order-service:
    build: ./order-service
    depends_on:
      - postgres-order
      - nats
    ports:
      - "8083:8083"